---
import Layout from '@layouts/Layout.astro';
import Form from '@components/Form.svelte';
import Nutriscore from '@components/Nutriscore.svelte';

---

<Layout title="Nutri-Ownscore">
	<main class="container max-w-2xl m-auto">
		<header>
			<h2 class="title text-[#7e7e7e] text-xl text-left my-2 uppercase">
				Nutri-Score
			</h2>
		</header>

		<Form client:load />
		<Nutriscore client:load/>
	</main>
</Layout>
