---
const { title } = Astro.props;
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>NutriOwnscore</title>
	</head>
	<body>
		<h1 class="title text-center text-[#7e7e7e] text-xl my-3 mx-4 uppercase">{title}</h1>
		<article>
			<slot />
			<!-- tu contenido es inyectado aquí -->
		</article>
	</body>
</html>
